body {
    min-height: 100vh;
    color: $black;
    background-color: $main-bg;
    transition: color .35s, background-color .35s;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-top: $body-border solid 2rem;
    border-left: $body-border solid 2rem;
}

.wide {
    width: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        margin: 0 2rem 0 0;
    }
    
    @media screen and (min-width: 768px) {
        width: 85%;

        .col {
            flex: 1;
        }
    }
    
    @media screen and (min-width: 1024px) {
        width: 80%;
    }
    
    @media screen and (min-width: 1350px) {
        width: 75%;
    }
}
