header {
    background: rgb(106,19,19);
    background: -webkit-linear-gradient(left, rgba(54,9,9,.9) 0%, rgba(106,19,19,1) 100%);
    background: -o-linear-gradient(left, rgba(54,9,9,.9) 0%, rgba(106,19,19,1) 100%);
    background: linear-gradient(to right, rgba(54,9,9,.9) 0%, rgba(106,19,19,1) 100%);
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /*&:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 50%;
        height: 50vh;
        background-color: $grey;
    }
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 50%;
        height: 50vh;
        background-color: $footer-bg;
        transform: skewX(340deg);
    }*/
}

.header {
    
    &__top,
    &__bottom {
        display: flex;
    }
    
    &__top {
        margin-top: 2rem;
        height: 10rem;
        align-items: center;
        justify-content: space-around;
        overflow: hidden;

        @media screen and (min-width: 520px) {
            height: 20rem;
            overflow: visible;
        }
    }
    
    &__bottom {
        height: 4rem;
        z-index: 10;
    }
    
    &__image {
        
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        img {
            position: relative;
            max-width: 22rem;
            min-width: 5rem;
            border-radius: 50%;
            box-shadow: $black 0 0 20px 8px;
            z-index: 1;

            @media screen and (min-width: 520px) {
                min-width: 8rem;
            }
            
            @media screen and (min-width: 1024px) {
                min-width: 22rem;
            }
        }
    }
}