header {
    color: $white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 50%;
        height: 50vh;
        background-color: $header-bg;
    }
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 50%;
        height: 50vh;
        background-color: $black;
    }
}

.header {
    
    &__top,
    &__middle,
    &__bottom {
        display: flex;
    }
    
    &__middle {
        justify-content: space-between;
    }
    
    &__image {
        
        width: 25%;
        
        img {
            position: relative;
            border-radius: 50%;
            z-index: 1;
        }
    }
}