header {
    background-color: $white;
    color: $footer-bg;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /*&:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 50%;
        height: 50vh;
        background-color: $grey;
    }
    
    &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        width: 50%;
        height: 50vh;
        background-color: $footer-bg;
        transform: skewX(340deg);
    }*/
}

.header {
    
    &__top,
    &__middle,
    &__bottom {
        display: flex;
    }
    
    &__middle {
        align-items: center;
        justify-content: space-around;
    }
    
    &__bottom {
        z-index: 1;
    }
    
    &__image {
        
        width: 25%;
        
        img {
            position: relative;
            border-radius: 50%;
            z-index: 1;
        }
    }
}