main {
	.text p {
		line-height: 1.5;
		font-size: 1.2rem;
		margin-bottom: 1.5rem;
		text-align: justify;

		a {
			color: $footer-bg;
			transition: color .35s ease-in-out;

			&:hover {
				color: $body-border;
				transition: color .35s ease-in-out;
			}
		}
	}
}