nav {
    display: flex;
}

ul {
    display: flex;
    flex-direction: row;

    li {

        a {
            height: 4rem;
            padding: 0 1.35rem;
            display: flex;
            align-items: center;
            color: $white;
            background-color: $body-border;
            transition: all .35s ease-in-out;
            
            &:hover,
            &:focus {
                background-color: $footer-bg;
            }
        }
    }
}