nav {
    display: flex;
    
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $body-border;
        border: none;
        border-left: 0.25rem solid $footer-bg;
        cursor: pointer;
        transition: all .35s ease-in-out;
        
        &:hover,
        &:focus {
            background-color: $footer-bg;
        }
        
        @media screen and (min-width: 610px) {
            display: none;
        }
    }
}

ul {
    display: none;
    flex-direction: column;
    
    @media screen and (min-width: 610px) {
        display: flex;
        flex-direction: row;
    }

    li {

        a {
            height: 4rem;
            padding: 0 1.35rem;
            display: flex;
            align-items: center;
            color: $white;
            border-left: 0.25rem solid $footer-bg;
            background-color: $body-border;
            transition: all .35s ease-in-out;
            
            &:hover,
            &:focus {
                background-color: $footer-bg;
            }
        }
    }
}