// Colors
$white: #fff;
$white-light: #f3f3f3;

$black: #000;
$grey: #ccc;

$header-bg: rgb(0,0,0,0.65);

$green-logo: #00b26a;
$blue: #3399cc;
$red: #e51772;
$red-dark: #6a1313;
$violet: #5729b0;

// Fonts
//$font-family-sans: "Lato", sans-serif;
//$font-family-serif: "Merriweather", serif;
