// Colors
$white: #fff;
$white-light: #f3f3f3;

$black: #000;
$grey: #ccc;

$body-border: #360909;

$header-bg: #484848;
$footer-bg: #6a1313;

$green-logo: #00b26a;
$blue: #3399cc;
$red: #e51772;
$violet: #5729b0;

// Fonts
//$font-family-sans: "Lato", sans-serif;
//$font-family-serif: "Merriweather", serif;
