html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

.responsive-img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2rem;
  font-family: "Great Vibes";
}
@media screen and (min-width: 520px) {
  h1 {
    font-size: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5.5rem;
  }
}

h2, h3 {
  font-size: 2rem;
  font-family: "Great Vibes";
}
@media screen and (min-width: 520px) {
  h2, h3 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  h2, h3 {
    font-size: 3rem;
  }
}

.svg-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #fff;
}

.svg-icon circle {
  stroke: #fff;
  stroke-width: 1;
}

body {
  min-height: 100vh;
  color: #000;
  background-color: #ffded0;
  transition: color 0.35s, background-color 0.35s;
  line-height: 1.5;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-top: #360909 solid 2rem;
  border-left: #360909 solid 2rem;
}

.wide {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  .container {
    width: 85%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 1350px) {
  .container {
    width: 75%;
  }
}

header {
  background: rgb(106, 19, 19);
  background: -webkit-linear-gradient(left, rgba(54, 9, 9, 0.9) 0%, rgb(106, 19, 19) 100%);
  background: -o-linear-gradient(left, rgba(54, 9, 9, 0.9) 0%, rgb(106, 19, 19) 100%);
  background: linear-gradient(to right, rgba(54, 9, 9, 0.9) 0%, rgb(106, 19, 19) 100%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*&:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 50%;
      height: 50vh;
      background-color: $grey;
  }

  &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 50%;
      height: 50vh;
      background-color: $footer-bg;
      transform: skewX(340deg);
  }*/
}

.header__top, .header__bottom {
  display: flex;
}
.header__top {
  margin-top: 2rem;
  height: 20rem;
  align-items: center;
  justify-content: space-around;
}
.header__bottom {
  height: 4rem;
  z-index: 10;
}
.header__image {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__image img {
  position: relative;
  max-width: 22rem;
  min-width: 8rem;
  border-radius: 50%;
  box-shadow: #000 0 0 20px 8px;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .header__image img {
    min-width: 22rem;
  }
}

nav {
  display: flex;
}
nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #360909;
  border: none;
  border-left: 0.25rem solid #6a1313;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
}
nav button:hover, nav button:focus {
  background-color: #6a1313;
}
@media screen and (min-width: 610px) {
  nav button {
    display: none;
  }
}

ul {
  display: none;
  flex-direction: column;
}
@media screen and (min-width: 610px) {
  ul {
    display: flex;
    flex-direction: row;
  }
}
ul li a {
  height: 4rem;
  padding: 0 1.35rem;
  display: flex;
  align-items: center;
  color: #fff;
  border-left: 0.25rem solid #6a1313;
  background-color: #360909;
  transition: all 0.35s ease-in-out;
}
ul li a:hover, ul li a:focus {
  background-color: #6a1313;
}

footer {
  min-height: 15rem;
  background: rgb(106, 19, 19);
  background: -webkit-linear-gradient(bottom, rgb(54, 9, 9) 0%, rgb(106, 19, 19) 100%);
  background: -o-linear-gradient(bottom, rgb(54, 9, 9) 0%, rgb(106, 19, 19) 100%);
  background: linear-gradient(to top, rgb(54, 9, 9) 0%, rgb(106, 19, 19) 100%);
  color: #fff;
}

main .text p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
